.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.prediction-canvas { 
  width: 100px;
  margin: 20px;
}

.prediction-div {
  display: inline-block;
  margin: 10px;
}
